# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Build / dist output
build/
dist/
*.spec
*.pkg
*.exe
*.msi
*.zip

# IDE
.idea/
.vscode/

# Databases / local data
*.db
reports/json/*.json
json/*.json
monthly_receipts_archive.json
translations.json
